* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  font-family: sans-serif;
  font-size: 62.5%;
}
a {
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
ul {
  list-style: none;
}

header {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-self: center;
  padding: 8px;
  flex-direction: row;
  font-size: 1.3rem;
}
header div {
  margin-left: 20px;
}
.header-adress {
  display: flex;
  align-items: center;
}
.header-adress a {
  color: rgb(45, 45, 45);
}

.menu-google {
  background: url("../assets/menu-google.png") center/contain no-repeat;
  width: 30px;
}
.menu-google:hover {
  cursor: pointer;
}

.foto-perfil {
  width: 35px;
  height: 35px;
  background: url("../assets/foto2.jpeg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 30px;
}
.foto-perfil:hover {
  cursor: pointer;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

/* Main */

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px 0;
}

main .main-input {
  width: 565px;
  margin-top: 30px;
}

main .main-input-container {
  width: 560px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #e7e8eb;
  border-radius: 100px;
}

main .main-input-container input {
  width: 485px;
  height: 45px;
  border: none;
  outline: none;
  padding-left: 15px;
}
main .main-input-container:hover {
  box-shadow: 0 1px 6px 0 #20212447;
  border-color: #dfe1e500;
}

main .main-input-container .lupa {
  background-image: url("../assets/lupa.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  width: 15px;
  height: 15px;
}
main .main-input-container .voice-icon {
  background-image: url("../assets/micro.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  width: 24px;
  height: 24px;
}

.btn-container {
  width: 370px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 26px;
}

.btn {
  display: flex;
  width: 175px;
  height: 35px;
  justify-content: center;
  align-items: center;
  font-size: 1.4rem;
  background-color: rgb(248, 248, 248);
  border-radius: 5px;
}
.btn:hover {
  border: 1px solid #f8f9fa;
  box-shadow: 0px 0 2px 0px grey;
}
.btn button {
  width: 170px;
  height: 30px;
  border: none;
  outline: none;
  font-size: 1.4rem;
  background-color: rgb(248, 248, 248);
  color: rgb(58, 58, 58);
  cursor: pointer;
}

.covid-info {
  margin-top: 25px;
  font-size: 1.25rem;
  letter-spacing: 0.3px;
}
.covid-info a {
  margin-left: 5px;
}

.autor-info {
  margin-top: 25px;
  font-size: 1.25rem;
  letter-spacing: 0.3px;
}
.autor-info a {
  margin-left: 5px;
}

/* Footer */

footer {
  width: 100%;
  position: absolute;
  bottom: 0;
}

footer .row {
  height: 50px;
}

footer .country-container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  background-color: #f2f2f2;
}
footer .country {
  padding-left: 30px;
  font-size: 1.4rem;
  color: grey;
  letter-spacing: 0.3px;
}

footer .more-info-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  font-size: 1.4rem;
  background-color: #f2f2f2;
  border-top: 1.5px solid #e9e9eb;
}
footer .more-info-container a {
  color: grey;
}

footer ul {
  display: flex;
  padding: 10px 35px;
}

footer .footer-left {
  justify-self: left;
}
footer .footer-right {
  justify-self: right;
}
footer .footer-left li a {
  padding-right: 30px;
}
footer .footer-right li a {
  padding-left: 30px;
}
