* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  font-family: sans-serif;
  font-size: 62.5%;
}

.header {
  width: 100%;
  display: flex;
  margin-top: 10px;
  padding-right: 10px;
  flex-direction: row;
  align-self: center;
  justify-content: flex-end;
  font-size: 1.3rem;
}

.header div {
  margin-left: 30px;
}

.header-adress {
  padding-top: 10px;
}

.header-adress a {
  color: rgb(45, 45, 45);
  text-decoration: none;
}
.header-adress a:hover {
  text-decoration: underline;
}

.menu-google {
  background-image: url("../assets/menu-google.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  width: 30px;
}

.foto-perfil {
  width: 35px;
  height: 35px;
  background-image: url("../assets/foto2.jpeg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 30px;
}

/* Main */

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 10px 10px 120px;
  padding: 20px 0;
}

.buscador-container {
  margin-top: 30px;
}

.buscador-container input {
  width: 550px;
  height: 40px;
  border-radius: 15px;
  border-collapse: collapse;
  border: 1px solid rgb(190, 190, 190);
}

span {
  width: 50px;
}

.lupa {
  width: 35px;
  margin-top: 10px;
}

.btn-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 26px;
}

.btn {
  display: flex;
  width: 180px;
  height: 40px;
  justify-content: center;
  align-items: center;
  font-size: 1.4rem;
  background-color: rgb(248, 248, 248);
  border-radius: 8px;
}

.btn-search {
  margin-right: 5px;
}

.btn-lucky {
  margin-left: 5px;
}

.btn p {
  font-weight: 500;
  color: rgb(58, 58, 58);
}

.covid-info {
  margin-top: 25px;
  font-size: 1.25rem;
  letter-spacing: 0.3px;
}
.covid-info a {
  margin-left: 5px;
  text-decoration: none;
}
.covid-info a:hover {
  text-decoration: underline;
}

.autor-info {
  margin-top: 25px;
  font-size: 1.25rem;
  letter-spacing: 0.3px;
}
.autor-info a {
  margin-left: 5px;
  text-decoration: none;
}
.autor-info a:hover {
  text-decoration: underline;
}

.country-container {
  display: flex;
  align-items: center;
  width: 100%;
  height: 45px;
  background-color: rgb(240, 240, 240);
}
.country {
  display: flex;
  justify-content: left;
  margin-left: 30px;
  font-size: 1.4rem;
  color: grey;
  letter-spacing: 0.3px;
}

.extra-options-container {
  display: flex;
  height: 45px;
  justify-content: space-between;
  align-items: center;
  font-size: 1.4rem;
  background-color: rgb(240, 240, 240);
}
.extra-options-container a {
  text-decoration: none;
  color: rgb(125, 125, 125);
}
.extra-options-container a:hover {
  text-decoration: underline;
}

.ctn {
  display: flex;
  flex-direction: row;
}
.left div {
  margin-left: 35px;
}
.right div {
  margin-right: 35px;
}
